<div class="details-wrapper container">
	<div class="row">
		<div class="border box col-xs-12 col-sm-3">
			<img class="country-img" src="./assets/images/flag.png" alt="test">
		</div>
		<div class="border details col-xs-12 col-sm-6">
			<h1>Mexico</h1>
			<hr>
			<h5>Population of Country: </h5>
			<h5>Area (km<sup>2</sup>):</h5>
			<h5>Capital:</h5>
			<h5>Population of Capital:</h5>
			<h5>Continent:</h5>
			<h5>Neighbors:</h5>
			<br>
			<ul>
				<li><a href="#">USA</a></li>
				<li><a href="#">Guatemala</a></li>
				<li><a href="#">Belize</a></li>
			</ul>
			<br>
			<h6><a href="#/"  class="main-btn">Home</a></h6>	
			<br>
		</div>
		<div class="border box col-xs-12 col-sm-3">
			<img class="country-img" src="./assets/images/map.jpg" alt="test">
		</div>
	</div>
</div>