<div class="container home-wrapper">
	<div class="row">
		<div class="logo col-xs-12 col-md-6">
			<img class="" src="./assets/images/logo.png" alt="red earth">
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="row">
				<div class="col-sx-12 welcome">
					<h1>Welcome!</h1>
				</div>
				<div class="col-sx-12 paragraph">
					<p>Countries and Capitals is a curated app, powered by <a href="http://www.geonames.org" target="_blank"><span>geonames.org</span></a>.</p>
					<hr>
					<a href="#/countries"  class="main-btn">Countries</a></h6>
				</div>
			</div>
		</div>
	</div>
</div>