body {
  background: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
}
/* Shared Styles */
/* Styles for Index.html */
.index-title {
  text-align: left;
  background-color: #ec9614;
  color: #f0f0f0;
  font-size: 1.5em;
  margin: 0;
  padding: 0.5em;
}
/* Styles for countries-view.html */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper #searchCountry {
  margin: 2em;
  padding: 1em;
  width: 20em;
  text-align: center;
  border: 0.5em solid #ec9614;
  border-radius: 15%;
  background: #f0f0f0;
  outline: none;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.wrapper table {
  text-align: left;
  width: 100%;
  table-layout: fixed;
}
.wrapper table .titleTable {
  text-align: center;
  font-size: 1.5em;
  background-color: #ec9614;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom: solid #ec9614;
}
.wrapper table thead {
  background-color: #ec9614;
  position: static;
}
.wrapper table tr .tableField {
  padding: 0;
  transition: all 0.3s;
  width: 17%;
}
.wrapper table tr .tableField:hover {
  color: red;
}
.wrapper table tr #tr-content {
  color: dimgray;
}
.wrapper table tr td.firstRow {
  text-decoration: none;
}
.wrapper table tr td.firstRow:hover {
  color: #ec9614;
  cursor: pointer;
}
.wrapper table tr td {
  width: 17%;
}
.wrapper #contentTable {
  height: 40vh;
  overflow-y: scroll;
  margin-top: -1.3em;
}
.wrapper #contentTable tbody {
  border: 0.2em solid #ec9614;
  border-top: none;
  border-bottom: none;
}
.wrapper .btn-wrapper {
  margin: 2em;
}
.wrapper .btn-wrapper .custom-btn {
  outline: none;
  text-decoration: none;
  border: 0.3em solid #ec9614;
  border-radius: 15%;
  padding: 0.5em;
  letter-spacing: 0.1em;
  color: black;
  transition: all 0.5s ease-in;
}
.wrapper .btn-wrapper .custom-btn:hover {
  background-color: #ec9614;
}
/* Styles for home-view.html */
.home-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
}
.home-wrapper img {
  width: 20em;
}
.home-wrapper .welcome {
  margin: 2em 0 2em 0;
}
.home-wrapper .welcome h1 {
  font-size: 3em;
  color: red;
}
.home-wrapper .paragraph {
  font-size: 1.5em;
}
.home-wrapper .paragraph span {
  color: #ec9614;
}
/* Styles for details-view.html */
.details-wrapper {
  margin-top: 2em;
}
.details-wrapper #btn-wrapper-details {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-wrapper #btn-wrapper-details h6 {
  text-align: center;
  margin: 1em;
}
.details-wrapper .flag {
  width: 80%;
}
.details-wrapper .map {
  max-height: 30em;
  width: 80%;
}
.border {
  margin: 0 auto;
}
.details {
  text-align: center;
}
.details h1 {
  color: red;
  font-size: 3em;
  font-weight: 700;
}
.details hr {
  width: 90%;
  border: none;
  background: #ec9614;
  height: 0.3em;
}
.details h5 {
  text-align: justify;
  margin-left: 2em;
  font-weight: 550;
  color: black;
}
.details .neighbors {
  overflow-y: auto;
  max-height: 10em;
  margin-bottom: 0.5em;
  padding: 1em;
  border-top: 0.3em solid #ec9614;
  border-bottom: 0.3em solid #ec9614;
}
.details ul {
  text-decoration: none;
  list-style: none;
}
.details ul li {
  width: 50%;
  margin: auto;
  padding: 0.3em;
  border: 0.3em solid #ec9614;
  background: #ec9614;
}
.details ul li a {
  text-decoration: none;
  color: white;
  transition: color 1s;
}
.details ul li a:hover {
  color: black;
}
.box {
  margin: 0 auto;
  text-align: center;
}
.box .country-img {
  width: 15em;
}
/* button style */
.main-btn {
  margin-top: 2em;
  margin-bottom: 2em;
  outline: none;
  text-decoration: none !important;
  text-align: center;
  border: 0.3em solid #ec9614;
  border-radius: 15%;
  padding: 0.5em;
  letter-spacing: 0.1em;
  color: black;
  transition: all 0.5s ease-in;
}
.main-btn:hover {
  background-color: #ec9614;
  color: black;
}
/* Error pages Style */
.error {
  text-align: center;
  width: 100%;
  z-index: 100;
  font-size: 1em;
  color: #7e4a23;
  position: absolute;
}
.error-img {
  z-index: 20;
  margin-top: 3em;
  margin: 0 auto;
  text-align: center;
}
.error-img img {
  width: 100vw;
}
/* MediaQueries */
/* big landscape tablets, laptops, and desktops */
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 960px) {
  .index-title {
    font-size: 3em;
  }
  .home-wrapper {
    margin-top: 10em;
  }
  .details-wrapper {
    margin-top: 5em;
  }
  .details h5 {
    margin-left: 5em;
  }
  .error {
    font-size: 3em;
  }
}
/* Loading between pages */
.loading {
  position: relative;
  height: 100%;
  background-color: orange;
}
.loading:before {
  position: absolute;
  content: "";
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background: #f0f0f0 no-repeat center center;
  background-image: url('images/hourglass.gif');
}
/* Animations */
.view-trans.ng-enter {
  transition: all 2s ease;
  transition-delay: 0.3s;
}
.view-trans.ng-leave {
  transition: all 0.3s ease;
}
.view-trans.ng-enter {
  opacity: 0;
}
.view-trans.ng-enter-active {
  opacity: 1;
}
.view-trans.ng-leave {
  opacity: 1;
}
.view-trans.ng-leave-active {
  opacity: 0;
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 550px) and (max-width: 959px) {
  .index-title {
    font-size: 2.5em;
  }
  .details-wrapper {
    margin-top: 5em;
  }
}
@media (max-width: 550px) {
  #contentTable {
    overflow-x: scroll;
  }
}
